@model motekarteknologi.Areas.crm.Models.Opportunity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Opportunity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpectedRevenue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpectedRevenue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsWon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsWon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsLost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsLost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpectedClosing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpectedClosing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActualClosing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActualClosing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateUtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDateUtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
