@using motekarteknologi.Areas.crm.ViewModels.Common
@using motekarteknologi.Statics
@model IEnumerable<motekarteknologi.Areas.crm.Models.LeadNote>

@{
    ViewData["Title"] = "Index";
}

<p>
    @if (TempData[TempDataKey.MasterID] != null)
    {
        @Html.Partial("_ChildCreateNew",
                                 new ChildCreateNew()
                                 {
                                     ControllerName = "LeadNotes",
                                     MasterID = (Guid)TempData[TempDataKey.MasterID]
                                 })
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.Partial("_ChildGridActions", new ChildGridAction()
                        {
                            ID = item.ID,
                            MasterID = item.Lead.ID,
                            DestinationControllerName = "LeadNotes"
                        })
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
